.home{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    height: 400px;
    width: 400px;
}