@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

.home{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    height: 400px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btns > button{
    height: 50px;
    width: 120px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(231, 231, 231);
    box-shadow: 2px 3px 5px rgb(102, 101, 101);
    border-radius: 15px;
    border: none;
    transition: 0.2s;
}

.btns > button:active{
    box-shadow: none;
}

.generate > button{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(231, 231, 231);
    box-shadow: 2px 3px 5px rgb(102, 101, 101);
    transition: 0.2s;
    margin: 15px;
}

.generate > button:active{
    box-shadow: none;
}

#gen{
    background-color: #4361ee;
}

#down{
    background-color: #ee6c4d;
}