@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.nav{
    height: 6vh;
    width: 100%;
    top: 0;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav > p{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 35px;
}